h1{
    text-align: center;
}
.contactForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px auto;
  padding: 24px;
  border-radius: 12px;
  background-color: #d7d4d4;
  font-family: sans-serif;
}

.heading {
  text-align: center;
  margin-bottom: 16px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.input,
.textarea {
  padding: 8px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.fieldset {
  margin-bottom: 12px;
  border: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.legend {
  font-weight: bold;
}

.radioLabel {
  flex-direction: row;
  align-items: center;
  display: flex;
}

.radioInput {
  margin-right: 6px;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-top: 8px;
}

.button:hover {
  opacity: 0.9;
}
